.btn-success {
margin-left: 150px;
margin-top: 10px;
}
  img {
    width: 100px;
    height: 100px;
  }
  .col-md-12{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
 .container{
   margin-top: 80px;
   background-color: #424242  
 }

 .overlay{
  opacity:0.8;
  background-color: #3b007347;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}